/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
  overflow-x:hidden;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

#wpadminbar{
  display: none;
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}

/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}

div.blog-post hr:first-child{ 
  background-color:#176d25;
  height: 2px;
}

.border-title{
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  height:10px;
  width:100%;
  margin-bottom:15px
}

.img-whatido-parent{
    width: auto;
    height: 160px;
    margin: auto; 
}
.img-portfolio-parent{
    width: auto;
    height: 150px; 
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #fff;
}

.img-portfolio-child{ 
  height: 100%; 
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  transition: all .5s;
}

.img-portfolio-child::before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(52, 73, 94, 0.75);
} 

.img-portfolio-parent:hover .img-portfolio-child,
.img-portfolio-parent:focus .img-portfolio-child{
  cursor: pointer;
  transform: scale(1.2);
} 

.img-portfolio-parent:hover .img-portfolio-child:before,
.img-portfolio-parent:focus .img-portfolio-child:before {
  display: block;
}

.img-portfolio-child span {
  color: white; /* Good thing we set a fallback color! */
  font-family: sans-serif; 
  display: none;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  cursor: pointer;
  text-decoration:underline;
}

.img-portfolio-parent:hover span,
.img-portfolio-parent:focus span {
  display: block;
}

.img-whatido-child{
    background-repeat: no-repeat;
    height: 100%; 
    background-size: contain;  
}
.img-whatido-child:hover{
    cursor: pointer;  
}

.header-img img{
  max-height:300px;
  width:100%
}
ul.home-whatido-border li:last-child{
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  height:10px;
  width:50%; 
}
/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
 /* margin: 0 -15px 15px;*/
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #686868;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.blog-sidebar{
  margin-top:10px
}
.blog-sidebar h1{
  margin-top: -6px;
  text-align: center;
  color:#fff;
} 

/*
 * Footer
 */

.blog-footer {
/*  padding: 40px 0;*/
  padding: 20px 0px;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 2px solid #8d9095;
  margin-top: 20px;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.footer-menu{
  margin: 0 auto
}